---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
import '../styles/global.css';

const identity = {
    firstName: "Valentine",
    hobbies: ["drawing", "playing TTRPGs", "walking around"]
}
---
<BaseLayout pageTitle={pageTitle}>
    <p>Hi! My name is {identity.firstName} and this is my blog! I like 
        <!-- this is absurd, but it's just playing around w/astro -->
        {identity.hobbies.map((hobby) => hobby !== identity.hobbies[identity.hobbies.length - 1] ? <span>{hobby}, </span> : <span>and {hobby}.</span>)}
    </p>
    <p>If you want to check out my art, you should take a look at my <a href="https://honeyhamster.neocities.org/">portfolio</a>.</p>
</BaseLayout>