---
import BaseLayout from '../layouts/BaseLayout.astro';
import { Debug } from 'astro:components';
const pageTitle = "Home";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const recentPosts = [allPosts[allPosts.length - 1], allPosts[allPosts.length - 2], allPosts[allPosts.length - 3]]

---
<BaseLayout pageTitle={pageTitle}>
	<p>Hiiiii, this is the home page. This is a HUGE wip for the time being as I re-import old blog posts.</p>
	<h2>Recent Posts</h2>
	<ul>
		{recentPosts.map((post: any) => 
	<li><a href={post.url}>{post.frontmatter.title}</a> ({post.frontmatter.pubDate.toString().slice(0,10)})</li>)}
	</ul>
</BaseLayout>