---
import '../styles/header.css';
---
<div class="header">
    <h1>MouseBlog</h1>
    <div>
        <a href="/">Home</a> | 
        <a href="/about/">About Me</a> | 
        <a href="/blog/">Archive</a>
    </div>
</div>