---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { frontmatter } = Astro.props;
---
<meta charset="utf-8" />
<Header/>
<h2>{frontmatter.title}</h2>
<p>Published on: {frontmatter.pubDate.toString().slice(0,10)}</p>
<hr />
<slot />
<Footer />